@page "/clients"
@attribute [Authorize(Roles = "Administrateur")]

<h3>Liste des Clients</h3>

@if (clients == null)
{
    <p><em>Chargement des clients...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Code Client</th>
                <th>Nom Complet</th>
                <th>Téléphone</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var client in clients)
            {
                <tr>
                    <td>@client.CodeClient</td>
                    <td>@client.NomComplet</td>
                    <td>@client.TelephonePrincipal</td>
                    <td>@client.Email</td>
                </tr>
            }
        </tbody>
    </table>
}